* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NAVIGATION BAR */
.nav-bar{
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    font-weight:bold;
}

#logo-area{
    color: #2C683C;
    cursor: pointer;
}

.upper-logo{
    font-size: 28px;
    margin: 2rem 0rem 0rem 3rem;
    text-decoration: underline;
}

.lower-logo{
    font-size: 22px;
    margin: 0rem 0rem 0rem 6rem;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
    list-style-type: none;
    font-size: 20px;
    margin: 3rem 0rem 2.3rem 0.9rem;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #2C683C;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
    color: #48CA70;
}

button#nav-btn{
    background-color: #2C683C;
    color: white;
    margin: 2.5rem 2rem 1.5rem -3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

button#nav-btn:hover{
    background-color: #48CA70;
    color: white;
}


/* SECTION FIRST */
#section-1{
    background-color: #a8c0ae;
    height: 97vh;
    padding: 1rem 1rem 1rem 1rem;
}

#sec1-container{
    margin: 1rem 0rem 1rem 0rem;
    padding: 4rem 1rem 1rem 1rem;
}

#sec1-container h1{
    font-size: 3.5rem;
    color: white;
}

#sec1-container h1:nth-child(1){
    margin-left: 15rem;
}

#sec1-container h1:nth-child(2){
    text-align: center;
    padding-left: 5rem;
}

#sec1-container h1:nth-child(3){
    margin-left: 33rem;
}

#sec1-container h3{
    font-size: 1.7rem;
    text-align: center;
    padding: 3rem 12rem 3rem 13rem;
    color: #2C683C;
}

button#sec1-btn{
    color: white;
    background-color: #48CA70;
    margin: 0rem 0rem 0rem 40vw;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border: none;
}

button#sec1-btn:hover{
    background-color: #2C683C;
}

#sec1-container span{
    padding: 0px 8px;
}

#sec1-container img{
    height: 40px;
    width: 41px;
    margin: -15px -11px;
    cursor: pointer;
}


/* SECTION-2 */
#section-2{
    height: 99vh;
    margin: 0rem 0rem 1rem 0rem;
}

#sec2-container{
    display: grid;
    grid-template-columns: 6fr 6fr;
}

#sec2-container1{
    color: white;
    float: left;
    left: 20vw;
    top: 108vh;
    position: absolute;
    height: 88.7vh;
    width: 30vw;
    background-color: #2C683C;
}

#sec2-container1 h2{
    font-size: 3rem;
    color: #2C683C;
    background-color: white;
    text-align: center;
    padding: 2rem 0rem;
}

#sec2-container1 p{
    font-size: 1.7rem;
    padding: 3em 1em 0em 0em;

}

#sec2-container2{
    background-color: #2C683C;
}

#sec2-container3{
    width: 101vh;
}
#sec2-container3 img{
    width: 101vh;
    height: 83vh;
}


/* SECTION-3 */
#section-3{
    margin: 2rem 0rem 0rem 0rem;
    height: 100vh;
}
#sec3-container{
    display: grid;
    grid-template-columns: 6fr 6fr;
}

#sec3-container1{
    float: left;
    left: 14vw;
    top: 212vh;
    position: absolute;
    height: 30vh;
    width: 40vw;
    background-color: white;
    color: black;
    padding: 5rem 0rem 0rem 4rem;
    font-size: 4.5rem;
    box-shadow: 0px 0px 17px -6px black;
}

#sec3-container2{
    position: relative;
    z-index: -1;
    top: 7rem;
}

#sec3-container2 img{
    width: 102vh;
    height: 83vh;
}

#sec3-container3{
    background-color: #48CA70;
    height: 100vh;
    /* display: grid; */
    /* grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr; */
    /* justify-content: center; */
}
#sec3-container3 img{
    height: 92px;
}

#sec3-container3 span:nth-child(odd){
    background-color: black;
    float: right;
    position: relative;
    right: 25px;
}
#sec3-container3 span:nth-child(even){
    background-color: blue;
    float: left;
    position: relative;
    left: 25px;
}

#sec3-container3 img:nth-child(odd){
    background-color: black;
    float: right;
    position: relative;
    right: 25px;
}
#sec3-container3 img:nth-child(even){
    background-color: blue;
    float: left;
    position: relative;
    left: 25px;
}


/* SECTION-4 */
#section-4{
    height: 120vh;
}
#section-4 h1{
    font-size: 3.5rem;
    text-align: center;
    margin: 7rem 0rem 3rem 0rem;
}

#sec4-container{
    margin: auto;
    display: flex;
    height: 90vh;
}

#sec4-container .box{
    height: 80vh;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 1rem 1rem 1rem;
}

#sec4-container .box img{
    border: 4px solid #2C683C;
    border-radius: 10rem;
    height: 20rem;
    margin: 0rem auto 3rem auto;
    display: block;
}

#sec4-container .box h2{
    text-align: center;
    font-size: 1.7rem;
    margin: 0 0 2rem 0;

}

#sec4-container .box p{
    text-align: center;
    color: #2C683C;
    font-size: 1.4rem;
    font-weight: 600;

}

/* SECTION-5 */
#section-5{
    height: 90vh;
}
#section-5::before{
    content: "";
    background: url(/images/TaskImage3.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 188rem;
    z-index: -1;
    width: 100%;
    height: 93%;
    opacity: 0.4;

}
#section-5 h3{
    text-align: center;
    font-size: 2.3rem;
    margin: 4rem 0rem 1rem 0rem;
    color: white;
}

#sec5-container{
    height: 70%;
    width: 100%;
}
#sec5-container input{
    outline: none;
    background: none;
    border: none;
    height: 1.7rem;
    font-size: 1.2rem;
    width: 20rem;
    padding-left: 0.5rem;
    border-bottom: 2px solid white;
    position: relative;
}
#sec5-container input:nth-child(1){
    top: 7rem;
    left: 14rem;
}
#sec5-container input:nth-child(3n+2){
    top: 8rem;
    left: 14rem;
}
#sec5-container input:nth-child(3){
    top: 14rem;
    left: 14rem;
}

#sec5-container label{
    color: grey;
    position: relative;
    top: -6rem;
    left: 48rem;
    font-size: 1.4rem;
    font-weight: bold;
}
#sec5-container textarea{
    outline: none;
    background: none;
    border: 1px solid white;
    position: relative;
    top: 4rem;
    left: 37.5rem;
}

::placeholder{
    color: grey
    ;
    font-weight: bold;
}
button#sub-btn{
    color: #2C683C;
    cursor: pointer;
    padding: 1rem 3rem;
    margin: 0rem 0rem;
    background: white;
    font-weight: bold;
    border: none;
    outline: none;
    position: relative;
    top: 7rem;
    left: 36rem;
}
button#sub-btn:hover{
    color: #48CA70;
    font-weight: bold;
}